body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* 본문이 메뉴에 가리지 않도록 패딩 추가 */
body {
    padding-top: 90px; /* 메뉴 높이만큼 본문 밀기 */
}

a {
    text-decoration: none;
    color: inherit;
}

.building_img {
    width:10%;
    border-radius:100%;
}

.text_box {
    margin-left: 5%;
}

.main_box {
    margin-left: 20%;
    margin-right: 20%;
}

.img_text_box {
    padding-top: 3%
}

.process_img {
    width: 30%;
    border-radius: 10px;
    padding:5px;
}

.menu {
    background-color: aliceblue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 메뉴바 그림자 */
    padding: 10px 0;
    z-index: 1000; /* 메뉴바가 다른 콘텐츠 위에 나타나도록 z-index 추가 */
}

.menu > ul {
    display: inline-block;
    padding: 0 20px;
    border-radius: 10px;
}

.menu ul > li {
    display: inline-block;
    position: relative;
}

.menu > ul > li > a {
    color: black;
    display: block;
    padding: 10px 20px;
    font-size: 2.2vw;
    white-space: nowrap;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu > ul > li > .dragless {
    font-size: 3vw;
    color: #888; /* 구분자 색상 */
}

.dragless {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button-top:hover {
    transform: scale(1.2); /* hover 시 확대 효과 */
}
